src/Schemas/OTA2003B/OTA_ResRetrieveRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.000" id="OTA2003B">
	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_CommonPrefs.xsd"/>
	<xs:include schemaLocation="OTA_VehicleCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_PkgCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_GolfCommonTypes.xsd"/>
	<xs:include schemaLocation="OTA_HotelPreferences.xsd"/>
	<xs:include schemaLocation="OTA_Profile.xsd"/>
	<xs:include schemaLocation="OTA_AirPreferences.xsd"/>
	<xs:element name="OTA_ResRetrieveRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">This message returns a list of reservations when an exact match on a read request could not be made or the request was to return a list of reservations meeting specified criteria.				</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Success" type="SuccessType">
						<xs:annotation>
							<xs:documentation xml:lang="en">The presence of the empty Success element explicitly indicates that the OTA versioned message succeeded. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Warnings" type="WarningsType" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">Used in conjunction with the Success element to define one or more business errors.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ReservationsList" minOccurs="0">
						<xs:annotation>
							<xs:documentation xml:lang="en">A container for multiple reservations.  The list of reservations will be one of global reservations, air reservations, hotel reservations, package reservations, golf reservations, or vehicle reservations</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:choice>
								<xs:element name="AirReservation" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="en">One line in a list of airline reservations.  It may contain the PNR locator, flight segment information, traveler name, and itinerary name. </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="FlightSegment" type="FlightSegmentType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The airline code, flight number, departure and arrival dates, and the origin and destination.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TravelerName" type="PersonNameType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The name of the first traveler in the reservation.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element ref="TPA_Extensions" minOccurs="0"/>
										</xs:sequence>
										<xs:attribute name="BookingReferenceID" type="xs:string">
											<xs:annotation>
												<xs:documentation xml:lang="en">The reservation id number, PNR locator. 														</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="DateBooked" type="xs:dateTime" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">Date of the creation of this reservation.	</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ItineraryName" type="StringLength0to64" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A name given to this itinerary.
														</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="HotelReservation" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="en">One line in a list of hotel reservations.  It may contain the reservation id, booked date, arrival and departure dates, number of nights and rooms, hotel info, guest info, and room info. </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="HotelReservationIDs" type="HotelReservationIDsType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The hotel reservation id and the date the reservation was booked.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="CityName" type="StringLength1to64" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">City name where the hotel is located.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Address" type="AddressInfoType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The address of the hotel.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="GuestName" minOccurs="0">
												<xs:complexType>
													<xs:complexContent>
														<xs:extension base="PersonNameType">
															<xs:attribute name="NbrOfGuests" type="Numeric0to999" use="optional">
																<xs:annotation>
																	<xs:documentation xml:lang="en">The name of the guest under which the reservation is made and the total number of guests for this reservation. </xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:extension>
													</xs:complexContent>
												</xs:complexType>
											</xs:element>
											<xs:element name="CustomerLoyaltyInfo" type="CustLoyaltyType" minOccurs="0" maxOccurs="5">
												<xs:annotation>
													<xs:documentation xml:lang="en">The guest's customer loyalty information.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ShareWithData" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">A container for all of the names of those sharing a room in this reservation. </xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ShareWithDatum" type="PersonNameType" maxOccurs="99">
															<xs:annotation>
																<xs:documentation xml:lang="en">The name of a guest sharing a 	room for this reservation. </xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Total" type="TotalType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The total amount for this reservation</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ReservationTimeSpan" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The start and end day of the reservation.</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:attributeGroup ref="DateTimeSpanGroup"/>
												</xs:complexType>
											</xs:element>
											<xs:element name="RoomInformation" minOccurs="0">
												<xs:complexType>
													<xs:attribute name="RoomTypeCode" type="StringLength1to16" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">Specific system room type code, ex: A1K, A1Q etc.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attributeGroup ref="RatePlanGroup">
														<xs:annotation>
															<xs:documentation xml:lang="en">The rate plan code. </xs:documentation>
														</xs:annotation>
													</xs:attributeGroup>
													<xs:attribute name="RatePlanName" type="StringLength1to64" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">The name of the rate plan.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
													<xs:attribute name="NmbrOfRooms" type="xs:nonNegativeInteger" use="optional">
														<xs:annotation>
															<xs:documentation xml:lang="en">The number of rooms in this reservation.</xs:documentation>
														</xs:annotation>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<xs:element ref="TPA_Extensions" minOccurs="0"/>
										</xs:sequence>
										<xs:attributeGroup ref="HotelReferenceGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The hotel name, hotel code, and city code for the hotel booked in a reservation.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
								<xs:element name="PackageReservation" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="en">One line in a list of package reservations.  It contains the reservation id, departure date and point, destination point, duration, tour and travel codes, flight code, passenger name and number of passengers, and booking status. </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:annotation>
											<xs:documentation xml:lang="en">The supplier's code to identify the travel arrangement for the package.</xs:documentation>
										</xs:annotation>
										<xs:sequence>
											<xs:element name="UniqueID" type="UniqueID_Type" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The package booking reference.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Name" type="PersonNameType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The surname, initial, and title of the passenger.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ArrivalLocation" type="LocationType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The code for the final destination - normally an IATA code.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="DepartureLocation" type="LocationType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The code for the traveller's departure point - normally an IATA code.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="TravelCode" type="PkgTravelCode" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The supplier's code to identify the travel arrangement for the package.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="TourCode" type="StringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The supplier's code to identify the accommodation/tour arrangement for a package.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="PackageID" type="PackageID_RefType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A code identifying a complete package arrangement, replacing individual travel and accommodation codes.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attributeGroup ref="DateTimeSpanGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The start date and duration of the package.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attributeGroup ref="QuantityGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the number in party.</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attributeGroup ref="InventoryStatusGroup">
											<xs:annotation>
												<xs:documentation xml:lang="en">The booking status of the 															reservation.	</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
									</xs:complexType>
								</xs:element>
								<xs:element name="GolfReservation" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="en">One line in a list of golf reservations.  It contains the reservation id's, golf course and round id, date and time of play, package id, membership info, and golfer name. 	</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Membership" type="CustLoyaltyType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The golfer's membership information for this reservation. </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="Name" type="PersonNameType">
												<xs:annotation>
													<xs:documentation xml:lang="en">The name of the golfer for this reservation. </xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attributeGroup ref="ID_Group">
											<xs:annotation>
												<xs:documentation xml:lang="en">The Golf Course ID.																	</xs:documentation>
											</xs:annotation>
										</xs:attributeGroup>
										<xs:attribute name="RoundID" type="xs:positiveInteger" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="en">A unique identifier applied to this round.														</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="PlayDateTime" type="DateOrDateTimeType" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="en">The date for which the round is 															reserved.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="PackageID" type="StringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">An identification of a package of which 															this round is a part.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="RequestorResID" type="StringLength1to8" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The unique Identifier used by the party 															booking the reservation.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="ResponderResConfID" type="StringLength1to8" use="required">
											<xs:annotation>
												<xs:documentation xml:lang="en">The unique identifier assigned by the 															supplier.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element>
								<xs:element name="VehicleReservation" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="en">One line in a list of vehicle reservations.  It contains the pickup and return dates, confirmation number, 	pickup and return locations, customer name, and vehicle information. </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="VehResSummary" type="VehicleReservationSummaryType" maxOccurs="99">
												<xs:annotation>
													<xs:documentation xml:lang="en">Summary information of a reservation, to allow a reservation to be identified from several reservations that matched the previous request criteria.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
										<xs:element name="GlobalReservation" minOccurs="0" maxOccurs="unbounded">
									<xs:annotation>
										<xs:documentation xml:lang="en">One line in a list of reservations from a global distribution system.  It may contain the booking reference, the person name, start date, and an itinerary name. </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element name="UniqueID" type="UniqueID_Type">
												<xs:annotation>
													<xs:documentation xml:lang="en">The booking reference ID.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="TravelerName" type="PersonNameType" minOccurs="0">
												<xs:annotation>
													<xs:documentation xml:lang="en">The name of the first traveler in the reservation.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="ItineraryName" type="StringLength0to64" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">A name given to this itinerary.
														</xs:documentation>
											</xs:annotation>
										</xs:attribute>
										<xs:attribute name="Start" type="DateOrDateTimeType" use="optional">
											<xs:annotation>
												<xs:documentation xml:lang="en">The first date of the reservation, i.e., check-in date, departure date, pickup date, etc.</xs:documentation>
											</xs:annotation>
										</xs:attribute>
									</xs:complexType>
								</xs:element> 
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Errors" type="ErrorsType">
						<xs:annotation>
							<xs:documentation xml:lang="en">Errors is returned if the request was unable to be processed.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
