src/Schemas/OTA2003B/OTA_SimpleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.001" id="OTA2003A2003B">
	<xs:simpleType name="ActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Add-Update"/>
			<xs:enumeration value="Cancel"/>
			<xs:enumeration value="Delete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength1">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength1to2">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 1 to 2</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alphabetic Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaLength4">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 4</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Alpha-Numeric Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AlphaNumericStringLength1to14">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used forAlpha-Numeric Strings, length 1 to 14</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-zA-Z]{1,14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AmountDeterminationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to indicate if an amount is inclusive or exclusive of other charges, such as taxes, or is cumulative (amounts have been added to each other
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Inclusive"/>
			<xs:enumeration value="Exclusive"/>
			<xs:enumeration value="Cumulative"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CabinType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A cabin is either First, Business or Economy </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="First"/>
			<xs:enumeration value="Business"/>
			<xs:enumeration value="Economy"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DateOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="DateOrTimeOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A construct to validate either a date or a time or a dateTime value.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:date xs:dateTime xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="DayOfWeekType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A three letter abbreviation for the days of the week (e.g. may be the starting date for the availability requested, days of operation, rate effective day, etc.).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Mon"/>
			<xs:enumeration value="Tue"/>
			<xs:enumeration value="Wed"/>
			<xs:enumeration value="Thu"/>
			<xs:enumeration value="Fri"/>
			<xs:enumeration value="Sat"/>
			<xs:enumeration value="Sun"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DistanceUnitNameType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This simple type defines a set of valid values for the units in which distance is measured (i.e. mile or kilometer).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Mile"/>
			<xs:enumeration value="Km"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DurationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for the specification of a night duration.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:duration NightDurationType"/>
	</xs:simpleType>
	<xs:simpleType name="FlightNumberType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a flight number (1 to 4 numbers followed by optional uppercase A - Z, which specifies an operational suffix) or OPEN or ARNK.</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9]{1,4}[A-Z]?"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="OPEN"/>
					<xs:enumeration value="ARNK"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="FlightTypeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a particular type of flight - Direct, Stopover etc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Nonstop"/>
			<xs:enumeration value="Direct"/>
			<xs:enumeration value="Connection"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISO3166">
		<xs:annotation>
			<xs:documentation xml:lang="en">2 character country code as defined in ISO3166.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="InventoryStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This defines a set of valid status values, allowing the selection of a specific group based on availability, or allowing the reservation status to be made known.  Examples of such values include Available, OnRequest, Confirmed, etc. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Available"/>
			<xs:enumeration value="Unavailable"/>
			<xs:enumeration value="OnRequest"/>
			<xs:enumeration value="Confirmed"/>
			<xs:enumeration value="All"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ListOfISO3166">
		<xs:list itemType="ISO3166"/>
	</xs:simpleType>
	<xs:simpleType name="ListOfRPH">
		<xs:list itemType="RPH_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ListOfStringLength1to8">
		<xs:list itemType="StringLength1to8"/>
	</xs:simpleType>
	<xs:simpleType name="MMYYDate">
		<xs:annotation>
			<xs:documentation xml:lang="en">Month and year information.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="(0[1-9]|1[0-2])[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MealType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AVML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			AVML - Asian Veg
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BBML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			BBML - Baby/Infant Food
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BLML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			BLML - Bland Meal
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			CHML - Child Meal
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DBML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			DBML - Diabetic
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FPML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			FPML - Fruit Meal
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GFML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			GFML - Gluten Free
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HFML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			HFML - High Fiber
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HNML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			HNML - Hindu Meal
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KSML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			KSML - Kosher
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LCML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			LCML - Low Calorie
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LFML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			LFML - Low Cholesterol
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LPML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			LPML - Low Protein
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LSML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
							LSML - Low Sodium/No Salt
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MOML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			MOML - Moslem
				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NLML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
				NLML - Non-Lactose
				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ORML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
				ORML - Oriental
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PRML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			PRML - Low Purin
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RVML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			RVML - Raw Vegetarian
				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SFML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
				SFML - Seafood
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SPML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			SPML - Special/Specify
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VGML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			VGML - Vegetarian/Non Dairy
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VLML">
				<xs:annotation>
					<xs:documentation xml:lang="en">
			VLML - Vegetarian/Milk/Eggs
			</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Money">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for amounts, max 3 decimals</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MoneyOrPercentageType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A union of money and percentage so that the appropriate data can be sent in a single field.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="Money Percentage"/>
	</xs:simpleType>
	<xs:simpleType name="NightDurationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Provides the ability to define a duration in terms of nights rather than days.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="P[0-9]{1,3}N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric0to4">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 4 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric0to99">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 99 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric0to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 0 to 999 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 3 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric1to4">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 4 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric1to99">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 99 inclusive</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Numeric1to999">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 16.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to19">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 19.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,19}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength4">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 4.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, minimum length 1, maximum length 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 5</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NumericStringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Numeric Strings, length 1 to 8.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OTA_CodeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for codes in the OTA code tables. Possible values of this pattern are 1, 101, 101.EQP, or 101.EQP.X.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Z]{1,3}(\.[A-Z]{3}(\.X){0,1}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OfficeLocationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates main office, field office, or division of the organization.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Main"/>
			<xs:enumeration value="Field"/>
			<xs:enumeration value="Division"/>
			<xs:enumeration value="Regional"/>
			<xs:enumeration value="Remote"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PaymentCardCodeType">
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="UpperCaseAlphaLength1to2">
					<xs:enumeration value="AX">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					American Express 
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Bank Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BL">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Carte Bleu                  
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="CB">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Carte Blanche                  
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DN">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Diners Club
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DS">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Discover Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="EC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Eurocard
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="JC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					JCB Credit Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="MC">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					Master Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="TP">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Universal Air Travel Card
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="VI">
						<xs:annotation>
							<xs:documentation xml:lang="en">
					 Visa
					</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:annotation>
					<xs:documentation xml:lang="en">This is intended to be used when the above enumeration list does not meet your needs. </xs:documentation>
				</xs:annotation>
				<xs:restriction base="UpperCaseAlphaLength1to2"/>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for percentage values</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="100.00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PreferLevelType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
	Used to specify a preference level for something that is or will be requested (e.g. a supplier of a service, a type of service, a form of payment, etc.).
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Only"/>
			<xs:enumeration value="Unacceptable"/>
			<xs:enumeration value="Preferred"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PricingType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An enumerated type that defines how a service is priced.  Values:  Per stay,  Per person, Per night, Per person per night,  Per use.  </xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to32">
			<xs:enumeration value="Per stay"/>
			<xs:enumeration value="Per person"/>
			<xs:enumeration value="Per night"/>
			<xs:enumeration value="Per person per night"/>
			<xs:enumeration value="Per use"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RPH_Type">
		<xs:annotation>
			<xs:documentation xml:lang="en">(Reference Place Holder) - an index code to identify an instance in a collection of like items.. For example,  used to assign individual passengers or clients to particular itinerary items.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RateIndicatorType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An enumerated type indicating special conditions with the rate  Valid values: ChangeDuringStay, 	MultipleNights, Exclusive, OnRequest, LimitedAvailability.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to32">
			<xs:enumeration value="ChangeDuringStay"/>
			<xs:enumeration value="MultipleNights"/>
			<xs:enumeration value="Exclusive"/>
			<xs:enumeration value="OnRequest"/>
			<xs:enumeration value="LimitedAvailability"/>
			<xs:enumeration value="AvailableForSale"/>
			<xs:enumeration value="ClosedOut"/>
			<xs:enumeration value="OtherAvailable"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RatePeriodSimpleType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The RatePeriodSimpleType simple type defines a set of valid values for the type of rate that may be applied.  Typically rates differ based upon the duration, and the actual rate is then expressed in terms of the period of the rental.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Hourly"/>
			<xs:enumeration value="Daily"/>
			<xs:enumeration value="Weekly"/>
			<xs:enumeration value="Monthly"/>
			<xs:enumeration value="WeekendDay"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeatDirectionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the orientation of a seat relative to the direction of  travel.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Facing"/>
			<xs:enumeration value="Back"/>
			<xs:enumeration value="Airline"/>
			<xs:enumeration value="Lateral"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SeatType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies the position of a seat, e.g. Window, Aisle etc. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Window"/>
			<xs:enumeration value="Aisle"/>
			<xs:enumeration value="Table"/>
			<xs:enumeration value="Middle"/>
			<xs:enumeration value="Individual"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ShortDescriptionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A textual description.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength0to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength0to255">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 255</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength0to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength0to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 0 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to128">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 128</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to16">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 16</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to255">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 255</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to32">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 32</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Strings, length exactly 3</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to64">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 64</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringLength1to8">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for Character Strings, length 1 to 8</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TicketType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Paper or e-ticket</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="eTicket"/>
			<xs:enumeration value="Paper"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TimeOrDateTimeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Allows for the specification of a date time or just time.</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="xs:dateTime xs:time"/>
	</xs:simpleType>
	<xs:simpleType name="TimeUnitType">
		<xs:annotation>
			<xs:documentation xml:lang="en">An enumerated type defining the unit in which the time is expressed.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="StringLength1to16">
			<xs:enumeration value="Year"/>
			<xs:enumeration value="Month"/>
			<xs:enumeration value="Week"/>
			<xs:enumeration value="Day"/>
			<xs:enumeration value="Hour"/>
			<xs:enumeration value="Second"/>
			<xs:enumeration value="FullDuration"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionActionType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
	To specify the type of action requested when more than one function could be handled by the message.
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Book"/>
			<xs:enumeration value="Quote"/>
			<xs:enumeration value="Hold"/>
			<xs:enumeration value="Initiate"/>
			<xs:enumeration value="Ignore"/>
			<xs:enumeration value="Modify"/>
			<xs:enumeration value="Commit"/>
			<xs:enumeration value="Cancel"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransactionStatusType">
		<xs:annotation>
			<xs:documentation xml:lang="en">
	To specify a status to the transaction, usually in the response message, of the action specifed in the request message.
	</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pending"/>
			<xs:enumeration value="Cancelled"/>
			<xs:enumeration value="Modified"/>
			<xs:enumeration value="Committed"/>
			<xs:enumeration value="Ignored"/>
			<xs:enumeration value="On Hold"/>
			<xs:enumeration value="Unsuccessful"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="USTimeZoneType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Identifies a time zone within the United States</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="P"/>
			<xs:enumeration value="M"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="E"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaLength1to2">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 2 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaLength1to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Alpha String, length 3 (for letter codes)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{1,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaNumericLength2to3">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 2 to 3.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{2,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UpperCaseAlphaNumericLength3to5">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used for an Upper Alpha String and Numeric, length 3 to 5.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNoType">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
