src/Schemas/OTA2003B/OTA_CancelRQ.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05" xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.001" id="OTA2003B">	<xs:include schemaLocation="OTA_CommonTypes.xsd"/><xs:include schemaLocation="OTA_AirCommonTypes.xsd"/>	<xs:include schemaLocation="OTA_SimpleTypes.xsd"/>	<xs:element name="OTA_CancelRQ">		<xs:annotation>			<xs:documentation xml:lang="en">A generic message, available as an action on several OTA services whichrequests a server to cancel the booking identified by the UniqueID element.	</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence>				<xs:element name="POS" type="POS_Type" minOccurs="0"/>				<xs:element name="UniqueID" type="UniqueID_Type" maxOccurs="5">					<xs:annotation>						<xs:documentation xml:lang="en">This allows a user to send more than one UniqueID where there is more than one UniqueID associated to a single reservation (e.g. confirmation number and PNR record locator).</xs:documentation>					</xs:annotation>				</xs:element>				<xs:element name="Verification" type="VerificationType" minOccurs="0">					<xs:annotation>						<xs:documentation xml:lang="en">This is to be used for verification that the record being canceled is the specific record requested. This is optional and is intended to provide a more secure mechanism to ensure the correct record is being canceled. </xs:documentation>					</xs:annotation>				</xs:element>				<xs:element ref="TPA_Extensions" minOccurs="0"/>			</xs:sequence>			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>			<xs:attributeGroup ref="ReqRespVersion"/>			<xs:attribute name="CancelType" type="TransactionActionType" use="required"/>		</xs:complexType>	</xs:element></xs:schema>